$main-width: 500px;

html, body {
    height : 100%;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.col {
    display: flex;
    align-items: center;
}
div.main {
    /*width: $main-width;*/
    height: $main-width/2+200px;
}
div.row {
    /*width: $main-width;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.indicator {
    /*width: $main-width/2;*/
    padding-top: 50px;
    width: 100%;
    height: $main-width/2;
    top:50px;
    display: flex;
    justify-content: center;
    /*left: $main-width/4;*/
}
div#prg {
  position: absolute;
}
div#progress {
  position: relative;
  width: $main-width/2;
  height: $main-width/2;
}
div.prompt {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 5px;
}
h1 {
    background-color: red
}
div#work, div#rest {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
div.main > p {
  font-family: 'Pacifico', cursive;
  font-size: 3.7em;
  text-align: center;
  margin-bottom: 40px;
}
div#time {
  position: absolute;
  width: $main-width/2; /* Set the size of the progress bar */
  height: $main-width/2;
  vertical-align: middle;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0px;
}
div#time-text {
  margin-top: 50%;
  margin-bottom: 50%;
  font-family: 'Roboto';
}
p#time-text-prompt {
  text-align: center;
  font-size: 0.5em;
  font-family: 'Roboto'
}
p#time-text-out {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto'
}
